<div class="container-fluid">
  <div class="row" style="text-align: center;">
    <div class="col-md-12">
      <h2><p>Social Login</p></h2>
      <button
        class="btn btn-primary"
        style="background-color: #385998; border-color: #385998; color: white;"
        (click)="facebookLogin()"
      >
        Facebook
      </button>
      <button
        class="btn btn-primary"
        style="background-color: #c63d2d; border-color: #c63d2d; color: white;"
        (click)="googleLogin()"
      >
        Google
      </button>
      <button
        class="btn btn-primary"
        style="background-color: #4875b4; border-color: #4875b4; color: white;"
        (click)="linkedInLogin()"
      >
        LikedIn
      </button>
    </div>
    <div class="col-md-12" style="text-align: center;">
      <div class="card" style="width: 20rem; text-align: center;">
        <img
          [src]="user.photoUrl"
          alt=""
          style="width: 200px;"
          *ngIf="user.photoUrl"
        />

        <div class="card-body">
          <h4 class="card-title">{{ user.name }}</h4>
          <p class="card-text">{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
