:root {
  --black: #222222;
  --white: #ffffff;
  --grey: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--white);
}

.switch {
  position: relative;
  display: flex;
  width: 6rem;
  height: 3.4rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.4s;
}

.switch .slider::before {
  position: absolute;
  content: "";
  background-color: var(--black);

  height: 2.6rem;
  width: 2.6rem;
  left: 1.4rem;
  top: 0.4rem;
  box-shadow: -9px 0px 0 0px var(--white);
  border-radius: 50px;
  transition: all 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--grey);
  box-shadow: 0 0 0 1500px var(--black);
}

.switch input:checked + .slider::before {
  left: 0.4rem;
  box-shadow: none;
  background-color: var(--black);
  transform: translateX(2.6rem);
}
