*{
  font-family: 'Poppins', sans-serif;
}

.App-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.card {
  width: 20rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 2px solid #F6F6F6;
  overflow: hidden;
  margin: 0 0.5rem;
}

.card-header{
  border-bottom: 1px solid #F6F6F6;
  padding: 1rem 1.2rem;
  background-color: #FBFBFB;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #343434;
  margin: 0;
}

.label{
  font-size: 0.8rem;
  color: #343434;
  margin: 0 0 0.3rem 0;
}

.card-body{
  padding: 1rem 1.2rem
}

input[type=text]{
  font-size: 0.9rem;
  color: #343434;
  border: 2px solid #F3F3F3;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

::placeholder {
  font-size: 0.9rem;
  font-weight: 400;
  color: #e8e8e8;
}

input:focus{
  outline: none;
}

.text{
  margin: 0;
}


